

<H1><h1 class="text-center">Where the CheapBrew at?</H1>

<div>

<p><font color="white">We want to give you the option to spend as little as possible while finding exactly what you're looking for when it comes to your beer.
Cheapbrew has you covered with local listings and locations in Lewiston. The deals are there and we're bringing them to you here.
This page will be updated weekly, just before the weekend begins. And those on our email list will recive the link to our list.</font><p> 


</div>



<div class="container">
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://herokuapp.us8.list-manage2.com/subscribe/post?u=12e63d1a70707a3bfb7e44a89&amp;id=576889d241" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">Subscribe to our mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_12e63d1a70707a3bfb7e44a89_576889d241" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
</div>