



<h1 class="text-center">Deals This Week:</h1>



<h3 class="text-center">Lewiston Variety: PBR 30 for $16</h3>
<h3 class="text-center">Walmart: Natty Light 30 for $18</h3>
<h3 class="text-center">Roopers: Two 40 oz for $5</h3>
<h3 class="text-center">Shaw's: 12 pck of Twisted Tea for $10</h3>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#009b69; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://herokuapp.us8.list-manage2.com/subscribe/post?u=12e63d1a70707a3bfb7e44a89&amp;id=576889d241" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">Subscribe to our mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_12e63d1a70707a3bfb7e44a89_576889d241" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
</div>