<div class="jumbotron">
<h1>Find the Cheapest Beer Around Town!</h1>
<p>All the Deals are Here<p>
  <p><a class="btn btn-primary btn-lg" role="button" href="/about">Learn more</a></p>
</div>

<h3>Shaw's:</h3>>
<h3>Lewiston Variety:</h3>> 
<h3>>Walmart:</h3>>
<h3>Roopers:</h3>




